@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
    background-image: url(./assets/img/Home.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header */
.header {
    background-color: black;
    border-bottom: 2px solid;
}

.header .container {
    display: flex;
    width: 80%;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: white;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-size: 15px;
    margin-right: -230px;
}

.marca {
    color: white;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
}

.header h1 {
    margin: 0;
}

/* Banner */
.banner {
    display: flex;
    height: 665px;
}

.banner .container {
    display: flex;
    width: 1000px;
    padding-top: 215px;
    padding-left: 50px;
    color: white;
    flex-direction: column;
}

.frase {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.area {
    display: flex;
    flex-direction: row;
}

.area p {
    align-self: center;
    margin-left: 50px;
    width: fit-content;
}

/* Lixos */
.lixos {
    display: flex;
    height: 665px;
}

.lixos .container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.lixos .container .titulo {
    text-align: center;
    color: white;
    height: fit-content;
}

.carrossel {
    justify-content: space-between;
    display: flex;
    align-items: center
}

.carrossel .img {
    margin: 25px;
    justify-content: space-between;
    background-color: #000d3d8a;
    height: 300px;
    width: 300px;
}


/* Sobre */
.sobre {
    display: flex;
    height: 665px;
    flex-direction: column;
}

.sobre .container {
    display: flex;
    flex-direction: column;
    width: 830px;
    align-self: flex-end;
    margin-right: 50px;
    line-height: 20px;
}

.sobre .container h1 {
    justify-content: flex-end;
    display: flex;
    color: white;
}

.sobre .container p {
    color: white;
    text-align: justify;
    font-size: 12px;
}

.sobre .container ul {
    color: white;
    text-align: justify;
    font-size: 12px;
}

.sobre .eddie-acenando {
    background-image: url(./assets/gif/Eddie\ acenando.gif);
    width: 550px;
    height: 550px;
    background-size: cover;
    position: absolute;
    margin-top: 50px;
}

/* Jogo */
.jogo {
    display: flex;
    height: 665px;
    flex-direction: column;
    color: white;
}

.nave-espacial {
    background-image: url(./assets/img/nave\ rotate.png);
    width: 550px;
    height: 550px;
    background-size: cover;
}

.jogo h1 {
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
}

.jogo .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jogo .container .container-menor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
    width: 500px;
    margin-right: 200px;
}

.jogo .container .container-menor p {
    display: flex;
    text-align: justify;
    font-size: 20px;
}

/* Footer */
.footer {
    display: flex;
    height: 700px;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
}

.footer .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    height: 60%;
    align-items: center;
}

.planeta{
    background-image: url(./assets/gif/open.gif);
    background-size: cover;
    height: 400px;
    width: 500px;
}

.ods{
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}

.row{
    display: flex;
    align-self: flex-end;
    flex-direction: row;
}

.ods img{
    height: 50px;
    width: 50px;
    background-color: red;
}


/* Botão */
.banner .botao {
    display: flex;
    align-self: baseline;
    background: white;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: black;
    box-shadow: inset -4px -4px 0px 0px gray;
}

.jogo .container .container-menor .botao {
    align-self: baseline;
    background: white;
    display: inline-flex;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: black;
    box-shadow: inset -4px -4px 0px 0px gray;
    margin-top: 15px;
    margin-left: 155px;
}

.botao:hover,
.botao:focus {
    background: white;
    box-shadow: inset -6px -6px 0px 0px gray;
}

.botao:active {
    box-shadow: inset 4px 4px 0px 0px gray;
}

.botao:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px gray solid;
}

.botao:after {
    left: -6px;
    top: 0;
    border-left: 6px gray solid;
    border-right: 6px black solid;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}