@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
    background-image: url(./assets/img/Home.svg);
    background-size: cover;  
    background-repeat: no-repeat;
  }

/* Header */
.header {
    background-color: black;
    border-bottom: 2px solid;
}

.header .container {
    display: flex;
    width: 80%;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: white;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-size: 15px;
    margin-right: -230px;
}

.marca {
    color: white;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
}

.header h1 {
    margin: 0;
}

/* Banner */
.banner{
    height: 665px;
}

.banner .container{
    display: flex;
    width: 1000px;
    padding-top: 215px;
    padding-left: 50px;
    color: white;
    flex-direction: column;
}

.frase{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.area{
    display: flex;
    flex-direction: row;
}

.area p{
    align-self: center;
    margin-left: 50px;
    width: fit-content;
}

/* Sobre */
.sobre{
    display: flex;
    height: 665px;
}

.sobre .container{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre .container .titulo{
    text-align: center;
    color: white;
    height: fit-content;
}

.carrossel{
    justify-content: space-between;
    display: flex;  
    align-items: center
}

.carrossel .img{
    margin: 25px;
    justify-content: space-between;
    background-color: #000d3d8a;
    height: 300px;
    width: 300px;
}



/* Botão */
.botao {
    align-self: baseline;
    background: white;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: black;
    box-shadow: inset -4px -4px 0px 0px gray;
  }
  .botao:hover, .botao:focus {
    background: white;
    box-shadow: inset -6px -6px 0px 0px gray;
  }
  .botao:active {
    box-shadow: inset 4px 4px 0px 0px gray;
  }

  .botao:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px gray solid;
  }
  .botao:after {
    left: -6px;
    top: 0;
    border-left: 6px gray solid;
    border-right: 6px black solid;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }