@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

body {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen';
    background-image: url(../assets/img/Home.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header */
.header .container {
    background-color: black;
    display: flex;
    width: 80%;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-size: 15px;
    margin-right: -230px;
}

.marca {
    color: white;
    width: fit-content;
    font-size: 20px;
    font-weight: 800;
}

.header h1 {
    margin: 0;
    font-size: 20px;

}

/* Cadastro */
.cadastro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 92vh;
}

/* Eddie */
.eddie {
    background-image: url(../assets/gif/Eddie\ dançando.gif);
    background-size: cover;
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 155px;
}

.cadastro .container {
    display: flex;
    background-color: white;
    width: 700px;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.conteudo {
    height: 550px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.conteudo span {
    font-size: 17px;
}

.nomes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.nomes .nome {
    display: flex;
    flex-direction: column;
}

.nomes .sobrenome {
    display: flex;
    flex-direction: column;
}

.senhas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.senhas .senha {
    display: flex;
    flex-direction: column;
}

.senhas .confSenha {
    display: flex;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.conteudo input {
    border: none;
    background-color: lightgray;
    margin-top: 10px;
    font-family: 'Silkscreen';
    height: 40px;
    border-radius: 15px;
    font-size: 17px;
}

.nomes input {
    width: 245px;
}

.senhas input {
    width: 245px;
}

.email input {
    width: 500px;
}

.errado {
    display: flex;
    border: red solid 2px;
    background-color: rgba(255, 0, 0, 0.459);
    border-radius: 100%;
    height: 25px;
    width: 25px;
    position: absolute;
    color: red;
    justify-content: center;
    align-items: center;
}

.nome .errado {
    display: none;
    align-self: flex-end;
    position: absolute;
}

.sobrenome .errado {
    display: none;
    align-self: flex-end;
    position: absolute;
}

.email .errado {
    display: none;
    align-self: flex-end;
    position: absolute;
}

.senha .errado {
    display: none;
    align-self: flex-end;
    position: absolute;

}

.confSenha .errado {
    display: none;
    align-self: flex-end;
    position: absolute;

}


.conteudo .voltar {
    display: flex;
    border-radius: 15px;
    background-color: lightgray;
    width: 80px;
    height: 80px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.voltar p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 45px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.conteudo .row span {
    width: 243px;
    align-self: flex-end;
    line-height: 20px;
}

.row a {
    color: black;
}


/* Botão */
.botao {
    display: flex;
    align-self: baseline;
    background: white;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Silkscreen", cursive;
    text-decoration: none;
    color: black;
    box-shadow: inset -4px -4px 0px 0px gray;
    margin-top: 50px;
    align-self: center;
}

.botao:hover,
.botao:focus {
    background: white;
    box-shadow: inset -6px -6px 0px 0px gray;
}

.botao:active {
    box-shadow: inset 4px 4px 0px 0px gray;
}

.botao:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px gray solid;
}

.botao:after {
    left: -6px;
    top: 0;
    border-left: 6px gray solid;
    border-right: 6px black solid;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}