@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

body {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen';
    background-image: url(../assets/img/Home.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header */
.header {
    background-color: black;
    border-bottom: 2px solid;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header .container {
    display: flex;
    width: 80%;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-size: 15px;
    margin-right: -230px;
}

.marca {
    color: white;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
}

.header h1 {
    margin: 0;
    font-size: 20px;

}

/* Banner */
.banner {
    display: flex;
    height: 695px;
}

.banner .container {
    display: flex;
    width: 1000px;
    padding-top: 215px;
    padding-left: 50px;
    color: white;
    flex-direction: column;
}

.frase {
    color: white;
    font-size: 35px;;
    margin-bottom: 20px;
}

.area {
    display: flex;
    flex-direction: row;
}

.area p {
    align-self: center;
    margin-left: 22px;
    font-size: 22px;
}

/* Lixos */
.lixos {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.lixos .titulo {
    text-align: center;
    color: white;
    margin-bottom: 0px;
    font-size: 37px;
}

.lixos .container {
    display: flex;
    justify-content: center;
}


/* Carrossel */
.carrossel {
    height: 500px;
    display: flex;
    align-items: center;
    margin-top: -40px;
}

.carousel-wrapper {
    position: relative;
}

.carousel {
    display: flex;
    width: 1230px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    background-color: #00061c83;
    margin-right: 20px;
    flex: 0 0 100px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.carousel-item:hover{
    transform: translateY(-20px);
    transition: 1s;
}


.button {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.prev {
    left: -80px;
    /* Adjust as needed */
}

.next {
    right: -80px;
    /* Adjust as needed */
}

/* Descricao */
.descricao {
    display: none;
    padding: 20px;
    text-align: justify;
    line-height: 20px;
    font-size: 14px;
    color: white;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 170%;
}


/* Sobre */
.sobre {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.sobre .container {
    display: flex;
    flex-direction: column;
    width: 915px;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 30px;
}

.sobre .container h1 {
    justify-content: flex-end;
    display: flex;
    color: white;
    margin-bottom: 30px;
    font-size: 38px;
}

.sobre .container p {
    color: white;
    text-align: justify;
    font-size: 17px;
    margin-top: 5px;
}

.sobre .container ul {
    color: white;
    text-align: justify;
    font-size: 16px;
}

.sobre .eddie-acenando {
    background-image: url(../assets/gif/Eddie\ acenando.gif);
    width: 550px;
    height: 550px;
    background-size: cover;
    position: absolute;
    margin-top: 60px;
    z-index: 1;
}


/* Footer */
.footer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
}

.criadora {
    background-color: #00061c83;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    height: 33%;
    font-size: 25px;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    height: 60%;
    align-items: center;
}


.redes {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-start;
}

.social {
    background-color: white;
    width: 50px; 
    height: 50px; 
}

.planeta-ods-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1430px;
    align-items: center;
}

.planeta {
    background-image: url(../assets/gif/open.gif);
    background-size: cover;
    height: 400px;
    width: 500px;
    margin-left: 55px;
}

.ods {
    width: 130px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
}

.ods img {
    height: 50px;
    width: 50px;
    margin: 10px;
}


/* Botão */
.banner .botao {
    display: flex;
    align-self: baseline;
    background: white;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Silkscreen", cursive;
    text-decoration: none;
    color: black;
    box-shadow: inset -4px -4px 0px 0px gray;
}

.footer .criadora .botao {
    align-self: baseline;
    background: white;
    display: inline-flex;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Silkscreen", cursive;
    text-decoration: none;
    color: black;
    box-shadow: inset -4px -4px 0px 0px gray;
    margin-top: 15px;
    align-self: center;
}

.botao:hover,
.botao:focus {
    background: white;
    box-shadow: inset -6px -6px 0px 0px gray;
}

.botao:active {
    box-shadow: inset 4px 4px 0px 0px gray;
}

.botao:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px gray solid;
}

.botao:after {
    left: -6px;
    top: 0;
    border-left: 6px gray solid;
    border-right: 6px black solid;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}