@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

body {
  margin: 0;
  padding: 0;
  font-family: 'Silkscreen';
  background-image: url(../assets/img/Home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  /* cursor: url('./assets/img/ponteiro.cur'), auto; */
}

/* Header */
.header {
  background-color: black;
  border-bottom: 2px solid;
  width: 100%;
}

.header .container {
  display: flex;
  width: 80%;
  margin-left: 30px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-size: 15px;
  margin-right: -230px;
}

.marca {
  color: white;
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
}

.header h1 {
  margin: 0;
  font-size: 20px;
}


/* Dashboard */
.dashboard {
  display: flex;
  height: 92vh;
  justify-content: center;
  align-items: center;
}

.dashboard .container {
  display: flex;
  background-color: white;
  width: 160vh;
  height: 70vh;
  align-items: center;
  flex-direction: row;
  padding: 50px;
  justify-content: space-between;
  border-radius: 5px
}

.global-usuario {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100px;
  justify-content: space-between;
}

.global {
  background-image: url(../assets/img/mundial.png);
  background-size: cover;
  width: 110px;
  height: 110px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;

}

.usuario {
  background-image: url(../assets/img/usuario.png);
  background-size: cover;
  width: 110px;
  height: 110px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.grafico {
  display: flex;
  width: 920px;
  height: 475px;
  align-items: center;
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
}