@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

body {
  margin: 0;
  padding: 0;
  font-family: 'Silkscreen';
  background-image: url(../assets/img/Home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  /* cursor: url('./assets/img/ponteiro.cur'), auto; */
}

/* Header */
.header {
  background-color: black;
  border-bottom: 2px solid;
  width: 100%;
}

.header .container {
  display: flex;
  width: 80%;
  margin-left: 30px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 475px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-size: 15px;
  margin-right: -230px;
}

.marca {
  color: white;
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}


/* Dashboard */
.dashboard {
  display: flex;
  height: 667px;
  justify-content: center;
  align-items: center;
}

.dashboard .container {
  display: flex;
  background-color: white;
  /* border: red solid; */
  width: 1000px;
  height: 600px;
  align-items: center;
  flex-direction: row;
  padding: 50px;
  justify-content: space-between;
}

.global-usuario {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100px;
  justify-content: space-between;
}

.global {
  background-image: url(../assets/img/mundial.png);
  background-size: cover;
  width: 110px;
  height: 110px;
  cursor: pointer;
  padding: 5px;
}

.usuario{
  background-image: url(../assets/img/usuario.png);
  background-size: cover;
  width: 110px;
  height: 110px;
  cursor: pointer;
  border-bottom: black solid 5px;
  padding: 5px;
}

.grafico {
  display: flex;
  width: 750px;
  height: 500px;
  align-items: center;
}


/* Botão */
.bloco-start .botao {
  background: white;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: "Silkscreen", cursive;
  text-decoration: none;
  color: black;
  box-shadow: inset -4px -4px 0px 0px gray;
  margin-top: 15px;
}

.bloco-tryagain .botao {
  background: white;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: "Silkscreen", cursive;
  text-decoration: none;
  color: black;
  box-shadow: inset -4px -4px 0px 0px gray;
  margin-top: 220px;
}

.botao:hover,
.botao:focus {
  background: white;
  box-shadow: inset -6px -6px 0px 0px gray;
}

.botao:active {
  box-shadow: inset 4px 4px 0px 0px gray;
}

.botao:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px gray solid;
}

.botao:after {
  left: -6px;
  top: 0;
  border-left: 6px gray solid;
  border-right: 6px black solid;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}